body {
    background-color: black;
}

.preset-deck figcaption {
    color: white;
    padding-left: 30px;
}

.card-deck {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    padding-bottom: 100px;
    height: 400px;
    color: antiquewhite;
}

.card-select {
    display: flex;
    justify-content: center;
}

.menu {
    position: relative;
}

.baralho {
    color: antiquewhite;
    position: absolute;
    bottom: 100px;
    right: 100px;

    figcaption {
        padding-left: 30px;
    }
}

.card-deck figure img:hover {
    cursor: pointer;
    transform: scale3d(100px, 200px);
}

/* Animações */

.card-select  {
    position: absolute;
    transition: all 2s ease;
    padding-left:150px ;
}




.card-principal {
    width: 150px;
    height: 210px;
    transition: transform 0.5s;
    /* suavidade do movimento */
    transform-style: preserve-3d;
    cursor: pointer;
}

.card-principal.selecionado {
    transform: scale(1.2) translateY(-20px);
    /* aumenta e sobe */
    z-index: 20;
}

.card-principal.selecionado.flipped {
    transform: rotateY(180deg) translateY(-20px);
}

.card-principal img {
    backface-visibility: hidden;
}